# --- postgres ---
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=123456
DB_NAME=notifygo
DB_SSL_MODE=disable

# --- kafka ---
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=notifygo-group

# --- api ---
JWT_SECRET=troca-por-uma-string-aleatoria-de-32-chars
PORT=8080
